# Data Preparation and Customer Analytics
### By Areeb Hasan :)

#### Importing necessary libraries

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Checking Path

In [110]:
import os

# Define the path you want to list
directory_path = "/Users/areebhasan/Documents/Data Science/Quantium-Retail-Data-Analytics-and-Strategy/"

# List the contents of the directory
print(os.listdir(directory_path))

['QVI_transaction_data.xlsx', 'Data_Prep&Analytics.ipynb', '.DS_Store', 'QVI_purchase_behaviour.csv', 'README.md', 'QVI_transaction_data.csv', '.gitattributes', '.ipynb_checkpoints', '.git']

#### Loading the datasets

In [112]:
file_path = "/Users/areebhasan/Documents/Data Science/Quantium-Retail-Data-Analytics-and-Strategy/" #Path to be changed once downloaded from Github

transaction_data = pd.read_csv(f"{file_path}QVI_transaction_data.csv")
customer_data = pd.read_csv(f"{file_path}QVI_purchase_behaviour.csv")

#### Exploratory Data Analysis

In [114]:
transaction_data.info()
transaction_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

#### Changing date type

In [116]:
if transaction_data['DATE'].dtype in ['int64', 'float64']:
    transaction_data['DATE'] = pd.to_datetime(transaction_data['DATE'], origin='1899-12-30', unit='D')

#### Examine Product Names

In [126]:
prod_name_summary = transaction_data['PROD_NAME'].value_counts() #kind of similar to group by in SQL
prod_name_summary.head(20)

PROD_NAME
Kettle Mozzarella   Basil & Pesto 175g      3304
Kettle Tortilla ChpsHny&Jlpno Chili 150g    3296
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    3269
Tyrrells Crisps     Ched & Chives 165g      3268
Cobs Popd Sea Salt  Chips 110g              3265
Kettle 135g Swt Pot Sea Salt                3257
Tostitos Splash Of  Lime 175g               3252
Infuzions Thai SweetChili PotatoMix 110g    3242
Smiths Crnkle Chip  Orgnl Big Bag 380g      3233
Thins Potato Chips  Hot & Spicy 175g        3229
Kettle Sensations   Camembert & Fig 150g    3219
Doritos Corn Chips  Cheese Supreme 170g     3217
Pringles Barbeque   134g                    3210
Doritos Corn Chip Mexican Jalapeno 150g     3204
Kettle Sweet Chilli And Sour Cream 175g     3200
Smiths Crinkle Chips Salt & Vinegar 330g    3197
Thins Chips Light&  Tangy 175g              3188
Dorito Corn Chp     Supreme 380g            3185
Pringles Sweet&Spcy BBQ 134g                3177
Infuzions BBQ Rib   Prawn Crackers 110g     3174
Name: count, dtype: int64

#### Checking Salsa products as they are not classified as Chips

In [130]:
salsa_products = prod_name_summary[prod_name_summary.index.str.contains("salsa", case=False)]
num_salsa_products = salsa_products.sum()

print(f"Number of 'salsa' products: {num_salsa_products}")

print(salsa_products)

Number of 'salsa' products: 18094
PROD_NAME
Old El Paso Salsa   Dip Chnky Tom Ht300g    3125
Old El Paso Salsa   Dip Tomato Med 300g     3114
Old El Paso Salsa   Dip Tomato Mild 300g    3085
Woolworths Mild     Salsa 300g              1491
Doritos Salsa Mild  300g                    1472
Smiths Crinkle Cut  Tomato Salsa 150g       1470
Red Rock Deli SR    Salsa & Mzzrlla 150g    1458
Doritos Salsa       Medium 300g             1449
Woolworths Medium   Salsa 300g              1430
Name: count, dtype: int64

#### Removing Salsa products except the Chips with Salsa taste

In [145]:
# List of specific salsa products we need to keep
products_to_keep = [
    "Smiths Crinkle Cut  Tomato Salsa 150g",
    "Red Rock Deli SR    Salsa & Mzzrlla 150g"
]

transaction_data = transaction_data[
    ~transaction_data['PROD_NAME'].str.contains("salsa", case=False) |
    transaction_data['PROD_NAME'].isin(products_to_keep)
]

print(transaction_data['PROD_NAME'].value_counts())

PROD_NAME
Kettle Mozzarella   Basil & Pesto 175g      3304
Kettle Tortilla ChpsHny&Jlpno Chili 150g    3296
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    3269
Tyrrells Crisps     Ched & Chives 165g      3268
Cobs Popd Sea Salt  Chips 110g              3265
                                            ...
Sunbites Whlegrn    Crisps Frch/Onin 90g    1432
RRD Pc Sea Salt     165g                    1431
NCC Sour Cream &    Garden Chives 175g      1419
French Fries Potato Chips 175g              1418
WW Crinkle Cut      Original 175g           1410
Name: count, Length: 107, dtype: int64

#### Double Checking if Salsa products have been removed

In [147]:

salsa_products_data_filtered = transaction_data[transaction_data['PROD_NAME'].str.contains("salsa", case=False)]

num_salsa_products_filtered = salsa_products_data_filtered.shape[0]

print(f"Number of 'salsa' products in filtered data: {num_salsa_products_filtered}")

salsa_products_summary_filtered = salsa_products_data_filtered['PROD_NAME'].value_counts()

print(salsa_products_summary_filtered)

Number of 'salsa' products in filtered data: 2928
PROD_NAME
Smiths Crinkle Cut  Tomato Salsa 150g       1470
Red Rock Deli SR    Salsa & Mzzrlla 150g    1458
Name: count, dtype: int64

#### Checking for outliers

In [162]:
transaction_data.describe()
# Filtering out transactions with unusually high quantities, we found out max as 200 when mean is 2. 
outliers = transaction_data[transaction_data['PROD_QTY'] >= 100]
outliers

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,2018-08-19,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,2019-05-20,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0

#### Filtering outliers

In [ ]:
customer_id_to_remove = outliers['LYLTY_CARD_NBR'].iloc[0]
transaction_data = transaction_data[transaction_data['LYLTY_CARD_NBR'] != customer_id_to_remove]